<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5 mb-5 text-center">
                <!-- User Image
                <img src="{{data.profileImage}}" class="rounded-circle mb-4" alt="User Image" style="width: 150px; height: 150px;">
                -->
                <!-- Welcome Message -->
                <h3>Welcome {{data.displayName}}</h3><hr>
                <!-- User Email -->
                <p>Email: {{data.email}}</p>
                <!-- Logout Button -->
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>