#c1{
    border-radius: 5px;
    margin-top: 65px;
    margin-bottom: 1cm;
    background-color: rgb(75, 73, 72);
    text-align: center;
}
.display-4{
    color: whitesmoke;
}
.buttons{
  margin-top: 15px;
text-align: center;
}
