<div class="footer bg-secondary p-2  bg-opacity-25">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><i class="fas fa-map-marker-alt"> ADDRESS : </i>
                    <a href="https://www.google.com/maps/@28.5980932,77.3471569,14.17z/data=!4m4!7m3!1m1!1s108557697217773540206!2e2?entry=ttu" target="_blank" > NOIDA, UTTAR PRADESH, INDIA</a>
                    </p>
            </div>
            
            <div class="col-md-4">
               <p>Social Link : 
                <i class="fab fa-linkedin "></i>
                <a href="https://www.linkedin.com/in/sumit-kumar-87098018b" target="_blank">LINKEDIN</a>
               , <i class="fab fa-github-square"></i>
                <a href="https://github.com/Sumitkbd" target="_blank">GITHUB</a>
              </p>
            </div>
        </div>
    </div>
</div>
